.MainContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.SearchInProgress{
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
    width: 30%;
    transition: all 0.2s ease-in-out;
}

.SearchBarContainer{
    margin-inline: auto;
    min-width: 500px;
    width: 30%;
    transform: translateY(calc(100vh / 2.5));
    transition: all 0.2s ease-in-out;
}

.TitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.LogoText{
    margin-top: 12px;
    font-size: 50px;
}

.LogoIconText{
    width: fit-content;
    height: 100px;
    transition: all 0.2s ease-in-out;

}

.LogoIcon{
    width: fit-content;
    height: 25px;
}


.ResultsContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;

}

